body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5e1e1;
}

.container {
    background-color: #ffe5e5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

h1 {
    margin: 0;
}

.input-section {
    display: flex;
    margin-top: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.todos-filter {
    margin-top: 20px;
    text-align: center;
}

.todos-list {
    list-style: none;
    padding: 0;
}

.filters {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ffe5e5;
    color: #6e4646;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9d8d8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: #6e4646;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ffe5e5;
}

.completed-task,
.remaining-task {
    text-align: center;
}

.completed-task span,
.remaining-task span {
    font-weight: bold;
}
